<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.StudentDao">

    <cache type="PERPETUAL" eviction="LRU" flushInterval="60000" size="512" readOnly="false"/>

    <select id="select" resultType="com.example.model.Student" useCache="true">
        select * from student where id = #{id}
    </select>

    <update id="update">
       update student set name = #{name}  where id = #{id}
    </update>
</mapper>